---
- name: Deploy App on K3d
  hosts: local
  gather_facts: false
  tasks:
    - name: Create Namespace
      kubernetes.core.k8s:
        name: my-app
        kind: Namespace
        state: present

    - name: Deploy Nginx Deployment
      kubernetes.core.k8s:
        namespace: my-app
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: web-server
            labels:
              app: web
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: web
            template:
              metadata:
                labels:
                  app: web
              spec:
                containers:
                - name: nginx
                  image: custom-nginx:latest
                  imagePullPolicy: Never
                  ports:
                  - containerPort: 80

    - name: Expose Nginx Service
      kubernetes.core.k8s:
        namespace: my-app
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: web-service
          spec:
            selector:
              app: web
            ports:
              - protocol: TCP
                port: 80
                targetPort: 80
            type: ClusterIP  # On change en ClusterIP car on passe par l'Ingress maintenant

    # --- NOUVEAU BLOC : L'AIGUILLAGE ---
    - name: Create Ingress Rule
      kubernetes.core.k8s:
        namespace: my-app
        definition:
          apiVersion: networking.k8s.io/v1
          kind: Ingress
          metadata:
            name: web-ingress
            annotations:
              ingress.kubernetes.io/ssl-redirect: "false"
          spec:
            rules:
            - http:
                paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: web-service
                      port:
                        number: 80